
body{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 73.1%;
	color: #333;
	margin: 0px;
	padding: 0px;
	
}

img {
border:none;
}


.csv {
    padding-left:28px;
    background:transparent url('../images/24x24/csv.png') no-repeat 0px !important;
}

.top {
width:100%;
float:left;
background-image:url(../images/topshadow.jpg);
background-position:bottom;
background-repeat:repeat-x;
height: 52px;

}

.logo1 {
float:left;
width:auto;
margin: 0px 0px 0px 30px;
}

.logo2 {
float:right;
width:auto;
margin: 0px 0px 0px 30px;
}


.header{

width:100%;
float:left;
background-color:#062A7D;
}

.headerspace{
	margin: 0px;
}



.footer {
border-top:1px solid #e4e4e4;
padding:12px 0;
margin:12px 0;
float:left;
width:100%;
color:#666;
font-size:.88em;
text-align:center;
background-image:url(../images/footershadow.jpg);
background-position:top;
background-repeat:repeat-x;
}



.search {
float:right;
width:180px;
}

.searchint {
float:left;
padding:12px 24px;
}

.search input {
color:#999;
}
a:link, a:visited {color:#062A7D;
}

a:hover {
text-decoration:none;
}

input {
border:1px solid #e4e4e4;
}

textarea{
	border: 1px solid #BDC7D8;
	overflow:auto;}

/*
tables
*/

table.table1 {
	background-color: #FFFFFF;	
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;	
	border-collapse: collapse;        
}

table.table1 th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background: #062A7D;
	font-size: 11px;
	color: #FFFFFF;
}

/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/

table.table1 tr.yellow{
	background-color:#FFFFCC;	
}

table.table1 tr.green{
	background-color:#CEFFCE;	
}

table.table1 tr.blue{
	background-color:#CEE7FF;	
}

table.table1 tr.orange{
	background-color:#FFE4AE;	
}

table.table1 tr.purple{
	background-color:#9999CC;	
}

table.table1 tr.pink{
	background-color:#FFCCCC;	
}

table.table1 tr.rowt {
	background-color: #E6E6E6;
}

table.table1 tr.row0 {
	background-color: #F5F5F5;
}
table.table1 tr.row1 {
	background-color: #FFF;
}

table.table1 tr.row0:hover {
	background-color: #f1f1f1;
}
table.table1 tr.row1:hover {
	background-color: #f1f1f1;
}


table.table1 td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
	color:#333333;
}


/*
box
*/


div.box1 {
	background: #F0F0F0 url(../images/bg_newsitem.png) repeat-x;
	border: 1px solid #EEE;
	border-color: #EEE #EEE #DDD #EEE;
	clear: both;
	color: #333;
	line-height: 1.5;
	padding: 10px;	
}


div.box1 .title {
	color: #2A337C;
	font: bold 1.2em Tahoma,sans-serif;
	padding: 3px 4px;
}
div.box1 .body {
	font-family: "Trebuchet MS",Tahoma,sans-serif;
	font-size: 0.9em;
	text-align: justify;
}

/*
* Topmenu
*/

.topmenu {
float:inherit;
width:100%;
margin:0 0 0 28px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
height:25px;

}

.topmenu ul {
float:left;
width:auto;
line-height: 25px !important;
}

.topmenu ul, .topmenu ul li {
padding:0;
margin: 0;
list-style:none;

}

.topmenu ul li {
float:left;

}

.topmenu ul li a:link, .topmenu ul li a:visited {
color:#FFFFFF;
text-decoration:none;
border-left:1px solid #e4e4e4;
padding-left: 18px;
padding-right: 18px;
/*padding: 2px 18px;*/

}

.topmenu ul li a:hover {
color:#CCCCCC;

}


#nombreClienteTopmenu{
	float:right;
	margin-right: 50px;
	margin-top: 5px;
		
}

#nombreClienteTopmenu a{
 color:#FFFFFF;		
}

#content{

	padding-top: 30px;		
	margin: 10px;
	clear:both;
	
	
}

/** cpanel settings **/

#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 97px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

#cpanel div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; font-size:11px; }



/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/

.row_yellow{
	background-color:#FFFFCC !important;	
}

.row_green{
	background-color:#CEFFCE !important;	
}

.row_blue{
	background-color:#CEE7FF !important;	
}

.row_orange{
	background-color:#FFCC66 !important;	
}

.row_pink{
	background-color:#FFCCCC !important;	
}

.row_purple{
	background-color:#9999CC !important;	
}

#leyenda{
	margin-left:20px;
	margin-top:20px;
	font-size:10px;
	
}
/*
* temas para iconos
*/

.page_excel{
	background-image:url('../images/fam/page_excel.png') !important;
}

.application_double{
	background-image:url('../images/fam/application_double.png') !important;
}

.application_go{
	background-image:url('../images/fam/application_go.png') !important;
}

.application_add{
	background-image:url('../images/fam/application_add.png') !important;
}

.application_delete{
	background-image:url('../images/fam/application_delete.png') !important;
}

.clock{
	background: url('../images/fam/clock.png') no-repeat 0 0 !important;
}

/*
* otros
*/

.story{
	font-size: 11px;
	text-align:left;	
}

.story_coment{
	font-size: 11px;
	color: #062A7D;
	text-align:left;
	cursor:pointer;
}

.response_status{
	background:#ECEFF5;
	width: 400px;
	margin-top: 2px;
	padding: 4px;
}


/*
* Status rowexpander
*/
#status{
	margin-left:50px;
	margin-right:50px;
	font-size:9px;
	color:#666666;
}

.form_error
{  
  color: #FF9900; 
  font-size:11px;
}

.error_list
{
  color:#FF0000;
   font-size:11px;
}



#nav1, #nav1 ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:0.8em; 
z-index:1000;

}
#nav1 a{
border-left: 1px solid #E4E4E4;
    color: #FFFFFF;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
/*background-color:#B5B119;*/
}

#nav1 a:hover{
/*background-color:;
color:#333;*/
}

#nav1 li{
float:left;
position:relative;
/*border: 1px solid #84B6C8;*/
margin-left: 5px;
margin-right: 5px;
}

#nav1 ul {
position:absolute;
left:-5px;
display:none;
width:8em;
/*top:1.5em;*/

}

#nav1 li ul a{
width:8em;
height:auto;
float:left;
background-color:#062A7D;
border: #FFFFFF solid 1px;
padding: 1px 3px;
}

#nav1 ul ul{
top:auto;
}	

#nav1 li ul ul {
left:118px;
margin:0px 0 0 10px;

}

#nav1 li:hover ul ul, #nav1 li:hover ul ul ul, #nav1 li:hover ul ul ul ul{
display:none;
}
#nav1 li:hover ul, #nav1 li li:hover ul, #nav1 li li li:hover ul, #nav1 li li li li:hover ul{
display:block;
}
.page_white_edit {
    background: url('../images/fam/page_white_edit.png') no-repeat 0 0 !important;
}
.menu_responsive {
    background: url('../images/fam/menu_responsive.png') no-repeat 0 0 !important;
}
.page_save{
    background: url('../images/fam/page_save.png') no-repeat 0 0 !important;
}
.printer_img{
    background: url('../images/fam/printer.png') no-repeat 0 0 !important;
}
.zoom_img{
    background: url('../images/fam/zoom.png') no-repeat 0 0 !important;
}
.photo_img{
    background: url('../images/fam/photo.png') no-repeat 0 0 !important;
}
.row_gray{
    background-color:#E6E6E6 !important;	
}
.application_go{
    background: url('../images/fam/application_go.png') no-repeat 0 0 !important;
}
.clock{
    background: url('../images/fam/clock.png') no-repeat 0 0 !important;
}
.ship{
    background: url('../images/fam/ship.png') no-repeat 0 0 !important;
}
.hammer{
    background: url('../images/fam/hammer.png') no-repeat 0 0 !important;
}
.delete{
    background: url('../images/fam/delete.png') no-repeat 0 0 !important;
}
.bigbutton {
    width:500px;    
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:2px solid #157FCC; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/

    font-weight:  bold;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #638CC2, 0px 5px 0px 0px #454C76, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #638CC2, 0px 5px 0px 0px #454C76, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #638CC2, 0px 5px 0px 0px #454C76, 0px 10px 5px #999;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.imglogo{
    background-image:url(../images/coltrans_logo.jpg);
}


