
body{
	font-family: Myriad pro, Arial, Helvetica, sans-serif;
	font-size: 73.1%;
	color: #333;
	margin: 0px;
	padding: 0px;
	line-height:1.9em;
}


.out {
float:left;
width:969px;
}

img {
border:none;
}

input {
border:1px solid #e4e4e4;
}

.wrapper {
background-image:url(../images/sideshadow.jpg);
background-position:top right;
background-repeat:no-repeat;
width:100%;
float:left;
}
.wrapperinx {
background-image:url(../images/sideshadowleft.jpg);
background-position:top left;
background-repeat:no-repeat;
float:left;
width:100%;
}

.maincomponent {
float:left;
width:100%;
}
.int {
width:938px;
}

.top {
width:100%;
float:left;
background-image:url(../images/topshadow.jpg);
background-position:bottom;
background-repeat:repeat-x;
height: 80px;
}

.logo {
float:left;
width:auto;
margin: 0px 0px 0px 30px;
}

.topmenu {
float:right;
width:600px;
margin:12px 0 0 0;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
height:25px;

}

.search {
float:right;
width:180px;
}

.searchint {
float:left;
padding:12px 24px;
}

.search input {
color:#999;
}
a:link, a:visited {color:#1C3A56;
}

a:hover {
text-decoration:none;
}