#samples {
    width: 902px;
    height: 443px;
    background: #fff url(../images/homepage/bg.png) no-repeat;
    background-size: cover;
    position:relative;
    left:0;
    top:0;
    margin-bottom:10px;
    margin-top:15px;
    margin-left:2px;
    font-family:"Lucida Grande",Verdana,sans-serif;
}
#sample-menu {
    position:absolute;
    left:30px;
    top:22px;
    width:186px;
    overflow:visible;
    font-family:"Lucida Grande",Verdana,sans-serif;
    z-index:1;
}
#sample-menu-inner {
    /*border:1px solid;
    border-color:#7095c4 #3e6598 #3e6598 #7095c4;*/
    zoom:1;
}
#sample-menu a {
    text-align:right;
    color:#fff;
    font-size:12px !important;
    line-height:16px;
    padding:5px 0 3px;
    cursor:pointer;
    display:block;
    padding-right:16px;
    -moz-outline:none;
    outline: 0 none;
    zoom:1;
    /*border:1px solid #fff;*/
}

#sample-menu a:hover {
    background: transparent url(../images/homepage/over-item.png) no-repeat;
    text-decoration: none;
}

.ext-ie #sample-menu a:hover {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/homepage/over-item.png', sizingMethod='scale');
}

#sample-menu a.active {
    background: transparent url(../images/homepage/active-item.png) no-repeat;
    text-decoration: none;
    color:#1860A8;
    font-weight:bold;
    white-space: nowrap;
}

.ext-ie #sample-menu a.active {
    background:transparent !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/homepage/active-item.png', sizingMethod='scale') !important;
}

#sample-menu a img {
    background-image: url(../images/homepage/icons.gif);
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    margin:0 4px 0 0;
    vertical-align:top;
    display:none;
}

#sample-menu h4 {
    display:none;
    font-size:11px !important;
    font-weight:bold;
    font-family:"Lucida Grande",Verdana,sans-serif;
    color:#284F85;
    margin:0;
    padding:4px;
    line-height:16px;
    background:transparent url(../images/homepage/top-bottom.gif) repeat-x 0 -1px;
    border-bottom:1px solid #89a8cf;
}

.ext-ie #sample-menu a img {
    vertical-align:middle;
}

#sample-menu .sample-inactive-over span {
    text-decoration:underline;
}
#sample-box {
    position:absolute;
    left:215px;
    top:12px;
    line-height:14px;
    font-size:11px;
    background-color:#fff;
    border-style:solid;
    border-color:#fff;
    border-width: 0;
}
#sample-box-inner {
    width:675px;
    height: 418px;
    line-height:14px;
    font-size:11px;
    background-color:#fff;
    border:1px solid;
    border-color:#3e6598 #3e6598 #3e6598 #3e6598;
    overflow:auto;

}

#sample-ct {
    padding:2px;
}

#sample-ct p i {
    color: #c33;
    font-style:normal;
    font-weight:bold;
}

#sample-ct h2 {
    border-bottom: 2px solid #99bbe8;
    cursor:pointer;
    padding-top:6px;
    -moz-user-select:none;
    -khtml-user-select:none;
}
#sample-ct h2 div {
    background:transparent url(../images/homepage/group-expand-sprite.gif) no-repeat 3px -47px;
    padding:4px 4px 4px 17px;
    color:#3764a0;
    font:bold 11px "Lucida Grande",Verdana,sans-serif;
}
#sample-ct .collapsed h2 div {
    background-position: 3px 3px;
}
#sample-ct .collapsed dl {
    display:none;
}

#sample-ct dd {
    float:left;
    width:300px;
    height:100px;
    margin:5px 5px 5px 10px;
    cursor:pointer;
    zoom:1;
}
#sample-ct dd img {
    width:64px;
    height:64px;
    margin:5px 0 0 5px;
    float:left;
}

#sample-ct dd div {
    float:left;
    width:160px;
    margin-left:10px;
}

#sample-ct dd h4 {
    font-family:"Lucida Grande",Verdana,sans-serif;
    color:#555;
    font-size:11px;
    font-weight:bold;
}
#sample-ct dd p {
    color:#777;
}
#sample-ct dd.over {
    background: #ebf7d2 url(../images/homepage/sample-over.gif) no-repeat;
}

.icon-apps {
    background-position: 0 0;
}
.icon-grid {
    background-position: 0 -16px;
}
.icon-tree {
    background-position: 0 -32px;
}
.icon-win {
    background-position: 0 -112px;
}
.icon-misc {
    background-position: 0 -144px;
}
.icon-layout {
    background-position: 0 -48px;
}
.icon-combo {
    background-position: 0 -64px;
}
.icon-form {
    background-position: 0 -80px;
}
.icon-menu {
    background-position: 0 -96px;
}
.icon-tabs {
    background-position: 0 -128px;
}

/* condensed view */

.condensed-view #sample-ct dd {
    float:left;
    width:135px;
    height:114px;
    margin:5px 5px 5px 10px;
    cursor:pointer;
    zoom:1;
    text-align:center;
}
.condensed-view #sample-ct dd img {
    width:120px;
    height:90px;
    margin:5px 2px 0;
    float:none;
}

.condensed-view #sample-ct dd div {
    float:none;
    width:auto;
    margin-left:0;
}

.condensed-view #sample-ct dd h4 {
    font-family:"Lucida Grande",Verdana,sans-serif;
    color:#666;
    font-size:11px;
    font-weight:normal;
    text-align:center;
    margin:0;
}
.condensed-view #sample-ct dd p {
    display:none;
}
.condensed-view #sample-ct dd.over {
    background:transparent url(../images/homepage/sample-over_small.gif) no-repeat;
}
.condensed-view #sample-ct dd.over h4 {
    color:#1860A8;
}

/* mini view */

.mini-view #sample-ct dd {
    float:left;
    width:75px;
    height:69px;
    margin:5px 5px 5px 10px;
    cursor:pointer;
    zoom:1;
    text-align:center;
}
.mini-view #sample-ct dd img {
    width:60px;
    height:45px;
    margin:5px 2px 0;
    float:none;
}

.mini-view #sample-ct dd div {
    float:none;
    width:auto;
    margin-left:0;
}

.mini-view #sample-ct dd h4 {
    font-family:"Lucida Grande",Verdana,sans-serif;
    color:#666;
    font-size:9px;
    font-weight:normal;
    text-align:center;
    margin:0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.mini-view #sample-ct dd p {
    display:none;
}
.mini-view #sample-ct dd.over {
    background:#ebf7d2;
}
.mini-view #sample-ct dd.over h4 {
    color:#1860A8;
}

#samples-cb {
    display: none !important;

    position:absolute;
    left:775px;
    top:-10px;
    zoom:1;
    width:97px;
    height:24px;
    font-size:11px;
    font-family:"Lucida Grande",Verdana,sans-serif;
    color:#fff;
    background: transparent url(../images/homepage/details-btn.gif) no-repeat 0 0;
    cursor:pointer;
    white-space:nowrap;
    zoom:1;
    overflow:hidden;
}

.condensed-view #samples-cb {
    background-position: 0 -25px;
}

.mini-view #samples-cb {
    background-position: 0 -50px;
}

#samples-cb img {
    width:32px;
    height:27px;
}

/*
 * Reset
 ***************/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}



/*
 * General
 ***************/

html { /* Force scrollbars */
    height: 100%;
    margin-bottom: 1px;
}

body {
    background-color: #fff;
    border: 0;
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
}

td {
    font-size: 13px;
}

a:link,
a:visited {
    color: #0464BB;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: #1C417C;
    text-decoration: underline;
}

#viewport {
    margin: auto;
    position: relative;
    text-align: left;
    width: 960px;
}





/*
 * Body
 ***************/

#bd {
    margin: 5px 15px 0;
}

#bd p {
    margin-bottom: 1em;
}

#bd br {
    font-size: 10px;
    line-height: 10px;
}

#bd .left-column {
    width: 700px;
    float: left;
}

#bd .right-column {
    width: 170px;
    float: left;
    margin-left: 20px;
}

#bd .right-column p {
    font-size: 12px;
    margin: 5px;
}

#bd h3 {
    font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #385F95;
    margin: 12px 0 6px;
}

#bd h4 {
    font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    margin: 4px 0 0;
}

#bd h5 {
    font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color: #F1F1F1;
    line-height: 20px;
    color: #789030;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px;
}

#bd .big-box h5.alt {
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    color: #385F95;
}

#bd .box {
    padding: 3px 5px 15px;
}



/*
 * Products - Ext JS
 ***************/

h1.pagetitle {
    position: relative;
}

h1.pagetitle a.download {
    display: block;
    position: absolute;
}

div#products.extjs h1.pagetitle {
    color: #385F95;
    font: 600 32px/1 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    height: 32px;
    margin: 18px 0 12px;
    width: 100%;
}

div#products.extjs h1.pagetitle span {
    color: #777;
    font-size: 70%;
    font-weight: 400;
    letter-spacing: normal;
}

h1.pagetitle a.download {
    background: url(../images/homepage/20100616buttons.png) no-repeat 0 0;
    display: block;
    float: right;
    height: 25px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    text-indent: 150%;
    white-space: nowrap;
    width: 120px;
}

.ext-ie7 h1.pagetitle a.download {
    bottom: 20px;
}

h1.pagetitle a.download:hover,
h1.pagetitle a.download:focus,
h1.pagetitle a.download:active {
    background-position: 0 -40px;
}

h1.pagetitle a.download:active {
    bottom: 9px;
}




/*
 * Products - Ext GWT
 ***************/




ul.features,
.content-box ul,
.side-box ul {
    margin-left: 15px;
    list-style-image: url(../images/homepage/c-sep-l.gif);
}

ul.features li,
.content-box ul li,
.side-box ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}




/*
 * RSS, Side boxes
 ***************/

.rss {
    float: right;
    margin: 3px 3px 0 0;
}

.rss a {
    display: block;
    width: 14px;
    height: 14px;
    background: transparent url(/assets/images/home/rss.gif) no-repeat 0 -14px;
}

div.side-box {
    /* 	background: transparent url(/assets/images/side-box.png) no-repeat; */
    background: #f6f6f6;
    border: 1px solid #ddd;
    font: normal 14px/16px;
    padding: 10px;
    width: 178px;
    margin-bottom: 20px;
}

#bd div.side-box-inner h5 {
    line-height: 15px;
    padding-bottom: 0;
    text-shadow: #fff 0 1px 0;
}

div.big-box {
    background: transparent url(/assets/images/big-box.png) no-repeat;
    padding-top: 1px;
    width: 700px;
    margin-bottom: 20px;
}

div.big-box-inner {
    background: transparent url(/assets/images/big-box.png) no-repeat 0 bottom;
    font-size: 14px;
    padding: 0 15px 12px;
}

div.big-box-solid {
    background: transparent url(/assets/images/big-box-solid.png) no-repeat;
    padding-top: 8px;
    width: 700px;
    margin-bottom: 20px;
}

div.big-box-solid-inner {
    background: transparent url(/assets/images/big-box-solid.png) no-repeat 0 bottom;
    font-size: 14px;
    color: #557;
    padding: 0 15px 5px;
}

div.full-box {
    background: transparent url(/assets/images/full-box.png) no-repeat;
    padding-top: 12px;
    width: 920px;
}

div.full-box-inner {
    background: transparent url(/assets/images/full-box.png) no-repeat 0 bottom;
    font-size: 14px;
    padding: 0 15px 10px;
}

div.content-box {
    width: 700px;
}

div.content-box p {
    margin-left: 5px;
    margin-right: 5px;
}

#bd div.content-box ul.features {
    margin-left: 20px;
}

#bd .content-box h5 {
    background-image: url(../images/homepage/med-shd.png);
    padding-left: 10px;
    margin-bottom: 5px;
}




/*
 * Ext JS Themes (18 Mar 2010)
 ************************/



#hd table.main-nav a:hover,
#hd table.main-nav a:hover span,
div#ext_js_themes div#howto ol li:hover a {
    text-decoration: underline;
}

#hd .sub-nav td span,
div#ext_js_themes div.themes ul li:hover span small {
    color: #777;
}

.rss a:hover,
div#ext_js_themes a#spotlight_themes {
    background-position: 0 0;
}

#bd div.side-box-inner h5,
#bd div.big-box-inner h5 {
    background: transparent !important;
    padding-top: 0;
}




/*
* Estilos para la lista de tareas
*/

.taskListHead_expanded{
    padding: 2px 2px 2px 15px;
    border-bottom:#333333 3px solid;
    cursor:pointer;
    background: transparent url(../images/group-expand-sprite.gif) no-repeat scroll 3px -49px;
}

.taskListHead_collapsed{
    padding: 2px 2px 2px 15px;
    border-bottom:#333333 3px solid;
    cursor:pointer;
    background: transparent url(../images/group-expand-sprite.gif) no-repeat scroll 3px 0px;


}

.nota{
    font-size: 9px;
}
