/* 
* Estilos para la página principal
*/


#manual-wrap {
    
    background-color: #c0c0c0;
    
    width: 80%;
	min-width: 700px;
    background: transparent url(../images/layout/homepage/bd-bg2.jpg) repeat scroll 0 0;
    
}

#manual {
    margin: auto;    
    text-align: left;    
    padding: 0 20px 0 20px;
    margin-top: 0;
    margin-bottom: 0;
	min-width: 600px;
}

#corner-manual-topleft, #corner-manual-bottomleft{
	float:left;	
}

#corner-manual-topright, #corner-manual-bottomright{
	float:right;	
}

#manual-top {	
	background-color: #062A7D;	
	height: 8px;   
	width: 80%;
	min-width: 700px;
	
	
	
}

#manual-bottom {	
	background-color: #062A7D;	
	height: 8px;   
	width: 80%;
	min-width: 700px;
}


#manual-nav {
    width: 25%;
    float: left;
    padding: 20px 0;
    margin:  0 0 0 0;
	/*border:#FF0000 1px solid;*/
	
	
}

/* main group styling */
#manual-nav li.group {
    padding: 6px 0;
    position: relative;
    line-height: 0;
    float: left;
    clear: left;
    width: 100%;
}

#manual-nav li.group.group-active {
    
	background: #fff url(../images/layout/homepage/li_left.jpg) no-repeat left ;
}

/* navigation subitems styling */
#manual-nav ul.group-sections {
    display: none;
}

#manual-nav li.group-expanded ul.group-sections {
    display: block;
}

#manual-nav ul.group-sections li {
    height: 14px;
    margin: 0 0 5px 0;
}

/* navigation link styling */
#manual-nav a {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: #fffff0;
    font-family: tahoma, arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

#manual-nav a.group-title {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-left: 24px;    
    font-weight: bold;
}

#manual-nav a.section-title {
    font-size: 12px;
    font-weight: normal;   
    padding: 2px 0 2px 30px;
    line-height: 14px;
}



#manual-nav li.group-active a {
    color: #4a4a4a;
	
}

#manual-nav li.section-active a{
    background: transparent url(../images/section-title-active.gif) no-repeat scroll left center;
    color: #4870a5;
    font-weight: bold;
}
/* the group expand button styling */
#manual-nav a.group-expand-btn {
    background: url('../images/elbow-plus-nl.gif') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 6px;
    top: 4px;
    text-indent: -5000px;
    overflow: hidden;
}

#manual-nav li.group-expanded a.group-expand-btn {
	background-image: url('../images/elbow-minus-nl.gif');
}

/* content area styling */
#content-wrap {
    /*min-width: 350px;*/
	width: 75%;
    float: right;
    position: relative;
    /*padding: 10px;*/
    background-color: #fff;		
}

#content-homepage-top {
	background-color:#FFFFFF;  
	height: 6px;
	float: right;   
	width: 75%;
	margin-top: 10px;
}

#content-homepage-bottom {
 background-color:#FFFFFF;  
  height: 6px;   
  float: right;
  width: 75%;   
  margin-bottom: 10px;
}


#content-homepage {
    overflow: auto;
    height: 300px;
    padding: 15px ;	
}


#corner-content-topright, #corner-content-bottomright{
	float:right;
}


#corner-content-topleft, #corner-content-bottomleft{
	float:left;
}




/* primary headings */
#content-homepage h1 {
	color: #bbb;
	font-weight: bolder;
	float: right;
	font-size: 18px;
}

/* subheaders for sections */
#content-homepage .sect h2 {
	color: #789030;
	font-weight: bolder;
	border-bottom: 1px solid #b7b09a;
	padding-top: 5px;
	font-size: 14px;	
}

/* sub sub headings */
#content-homepage .sect h3 {
	color: #3E5C05;
}

/* typical paragraph markup */
#content-homepage .sect p {
    padding: 5px 0;
}

/* for pasting source code */
#content-homepage .sect pre {
	background-color: #f7f6e9;
	border: solid 1px #bfb9a6;
	padding: 5px;
}

#content-homepage .sect pre .keyword {
	color: #234567;
}

#content-homepage .sect pre .string {
	color: #882288;
}

#content-homepage .sect pre .comment {
	color: #cc2233;
}

/* some utility classes */
.clear-fix {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}






