/* 
    Document   : kb
    Created on : Dec 24, 2009, 8:53:23 AM
    Author     : abotero
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.mainColumn{
    background: url("../images/kb/gss_tabs_bgrd_end.png") no-repeat;
    min-height: 200px;
}

.borderPrimaryTable{
    border: solid #000000 1px;
    width: 80%;
}

.subTitle{
    font-size: 20px;
    padding: 10px;
}

.content-wrap{
    padding: 20px;
}

.titleCategory{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

a.on{
    border-bottom:1px solid #DFE8EF;
    border-left:1px solid #DFE8EF;
    border-top:1px solid #B8CCDC;

    color:black;
    display:block;
    /*font-size:0.7em;*/

    padding:9px 10px 10px;
    /*position:relative;*/
    text-align:right;
    text-decoration:none;
    width:158px;
    max-width:158px;
}

a.off {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/kb/gss_tabs_bgrd.png) repeat-y scroll left center;

    color:black;
    display:block;
    /*font-size:0.7em;*/
    
    padding:9px 10px 10px;
    /*position:relative;*/
    text-align:right;
    text-decoration:none;
    width:158px;
    max-width:158px;
}



.thinColumn  {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EAF1F7 none repeat scroll 0 0;
    border-color:-moz-use-text-color #C6D0DA #C6D0DA;
    border-style:none solid solid;
    border-width:0 1px 1px;
    color: #00000;
    display:table;
    overflow:hidden;
    padding-top:5px;
    width:260px;
    
    margin-bottom: 30px;

}


.subitemMenu{
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 6px;
    
}

.subitemMenu :hover{
    background: #FFFFFF;

}

.bgList{
    background: url("../images/kb/bg_list.png") repeat-x;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}