/* 
    Document   : blog
    Created on : Jul 28, 2010, 2:07:52 PM
    Author     : abotero
    Description:
        Purpose of the stylesheet follows.
*/
.commentlist{
    margin:20px;
}
.entry {
    border-bottom: 1px solid #DDDDDD;
	clear:both;	
	padding: 0 0 10px;
}


.entry-even {
    background-color:#F6F6F6;
    border-color:#CCCCCC;
    border-style:dotted;
    border-width:1px ;
    margin:12px 0 0;
    padding:12px 12px 24px;

}

.entry-odd {
    background-color:#FFFFFF;
    border-color:#CCCCCC;
    border-style:dotted;
    border-width:1px;
    margin:12px 0 0;
    padding:12px 12px 24px;
}

.entry-yellow {
    background-color:#FFFFCC;
    border-color:#CCCCCC;
    border-style:dotted;
    border-width:1px;
    margin:12px 0 0;
    padding:12px 12px 24px;
}




.entry-date{
    float: right;
    color: #0464BB;
}

#entry-list {
	padding-bottom: 15px;
	padding-top: 20px;
}

#entry-list
a.entry-title,
.post h2.post-title,
.post h2 a {
	color:#1A5C9A;
	/* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
}
.post h2.post-title {
    color: #111;

}

.post h2.post-title,
.post h2 a {
    display: block;
    margin: 20px 0 0;
}

.archive .post,
#entry-list .entry {
    border-bottom: 1px solid #DDDDDD;
	clear:both;
	margin:0 0 20px 0;
	padding: 0 0 10px;
}

.archive .post {
    margin-bottom: 30px;
}

#entry-list .meta{
	display:block;
	margin-top:5px;
}
#entry-list h4{
	margin-top:0;
	font-size:11px;
	font-weight:normal;
	display:block;
	letter-spacing: 0;
	color:#999;
	margin-bottom:10px;
}

#bd .post h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	letter-spacing: normal;
}

#bd .entry h4 {
    font-size: 13px;
}

#bd .right-column h2 {
    color: #789030;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
    font-size:11px;
    font-weight:bold;
    line-height:20px;

	margin: 0;
    padding: 3px;

    text-transform:uppercase;
}

.left-column div#respond h3,
#bd .post h3,
#bd h3#comments {
    color: #444;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
    line-height: 18px;
	margin: 1.2em 0 2px;
}

.left-column div#respond h3,
#bd h3#comments {
    color: #444;
	font-size: 20px;
	margin: 24px 0 0;
}

#bd .post strong {
    font-weight: bold;
}

#bd .post em {
    font-style: italic;
}

#bd p,
#bd pre {
    margin: 0 0 12px;
}

#entry-list p.meta,
#bd .post p.meta {
	color:#999;
	display:block;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight:normal;
	letter-spacing: 0;
	margin: 0 0 5px;
}

div#entry-list div.entry div.excerpt,
div#entry-list div.entry p.readmore {
	margin-top: 0;
	margin-left: 140px;
}

div#entry-list div.entry div.excerpt {
	margin-top:5px;
}

#entry-list img.post-icon {
    background: white;
    border: 1px solid #fff;

    box-shadow:     rgba(0,0,0, 0.5) 0 1px 4px;
    -moz-box-shadow:    rgba(0,0,0, 0.5) 0 1px 4px;
    -o-box-shadow:      rgba(0,0,0, 0.5) 0 1px 4px;
    -webkit-box-shadow: rgba(0,0,0, 0.5) 0 1px 4px;

    display: block;
	float:left;
	height:90px;

	margin:0 15px 10px 2px;
    padding: 1px;

	width:120px;
}

#entry-list img.post-icon {
	margin-top:5px;
}

.date-header{
	color: gray;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 5px;
	display:block;
}

.entry strong {
   font-weight:bold;
}

.results {
	border-collapse:collapse;
	margin-bottom:10px;
}
.results thead tr {
	background:#eee;
}
.results td, .results th {
	border:1px solid #DDDDDD;
	border-collapse:collapse;
	font-size:12px;
	padding:4px 10px;
}

.results .result-time {
	text-align:right;
}

.results th {

}
div.excerpt {
	zoom:1;
}
