
body {
    color: #333333;
    font-family: Myriad pro,Arial,Helvetica,sans-serif;
    font-size: 73.1%;
    line-height: 1.9em;
}


#staff_container {

 	width: 100%;

	border: 0 ;

	margin: 15px 5px 0 5px;

	text-align:center;

}

#staff_header  {  margin-bottom: 10px  }

.staff_header_text {
	width:90%;
}

#staff_header h1  {

	color: #000000;

	letter-spacing: -1px;

	line-height: 30px;

	border-bottom: 1px solid #666666;

	text-align:center;

}

.department_header  { margin-top:30px 0; padding-left:7px; }

.department_name {

	text-align:left;
	padding:20px 0 20px 5px;
	color:#666666;
    font-size: 14px;
    font-weight: bold;
    
	

	

}
.department_description , .staff_header_text p {

	text-align:left;

	font-size:0.85em;

	position:relative;

	left:20px;

	padding:5px 55px 5px 5px;

	width:85%;

	color:#000000;

	margin-bottom: 15px;

}
.department_description_table  {

	width:80% ;

	/* To Center: Uncomment this and comment the next line       margin: 0 auto; */

	margin-left: 45px;

	text-align:left;

}

.department_footer {

	width: 75%;

	margin: 25px auto ;

}

.department_footer p { 	text-align: left  }

.department_footer_main , .department_footer_text1 , .department_footer_text2 , .department_footer_text3 { margin: 15px auto }

.staff_wrapper {

	margin: 20px 5px 0;

	min-height: 150px;

	width:90%;

	border-bottom: 1px #000000 solid;
}

.staff_member  {

	width:100%;

	min-height: 120px;

	height:auto !important;

	height:100%;

	padding: 0px;

}

.staff_image_left   {

	/* width:150px; */

	position:relative;

	float:left;
	width: 0px;

}

.staff_image_right  {

	 width:0px; 

	position:relative;

	float:right;

}

.staff_image_left img  {

	padding: 10px 0 0 0px;

	margin-right:0px;
}

.staff_image_right img  {
	
}

.staff_name_left , .staff_name_right {

	font-size: 1.15em;

	font-weight: bold;

	position:relative;

	top:3px;
	
	color:#666666;

}



.staff_name_left { margin: 0 165px 0 20px  }

.staff_name_right { margin: 0 20px 0 165px  }

.staff_name_left p {

	text-align:left;

	padding: 2px 2px 4px 4px;

	border-bottom: 1px solid #666666;

	border-right: 3px double #666666;

	color:#000000;

}

.staff_name_right p {

	text-align:left;

	padding: 2px 2px 4px 10px;

	border-bottom: 1px solid #666666;

	border-left: 3px double #666666;

	color:#000000;

}

.staff_name_right p a , .staff_name_left p a { color:#000000 }

.staff_name_right a , .staff_name_left a { color:#000000 !important; }

.staff_title , .staff_title_bio  {

	

	padding: 0px 10px 4px 0px;

	text-align:right;

	margin-top:-14px;

	width:100%;
	color:#666666;

	

}

.staff_title { }

.sm_bio_narrow  {

	margin-left:20px;

	margin-right:20px;

}

.staff_bio_left , .staff_bio_right {

	font-size:10pt;

 	text-align:left;

 	padding: 0px 35px ;
	
	font-family: Myriad pro,Arial,Helvetica,sans-serif;
	

}

.staff_bio_right { margin: 40px 0px 20px 165px }

.staff_bio_left  { margin: 40px 165px 20px 0 }

.sm_contact_div  {

	/*If you Increase width any more in "default" view,
	you may notice your contact details disappear in IE
	best to leave this setting where it is
	unless you're experienced with handling cross-browser CSS.*/
	width:350px;

	text-align:right;

	/*changed via javascript to show when user clicks "View contact details"*/
	/*display:none;*/


	margin-bottom:20px;

}

ul.contact_info    {

	text-align:left;

	margin-left: 15px;

}

ul.contact_info li {

	list-style:none!important;

	background:none!important;

	margin: 5px 0 5px 5px!important;

	display:block;


}

li.contact_label  {

	margin-left:0px!important;

	padding-left:0px!important;

	width:75px;

	font-size:.85em;

	white-space:nowrap;

	font-weight:bold;
	clear:both;

}

li.contact_data  {

	padding-left: 5px!important;

	width: 250px;

	font-size:.85em;

}

a.read_contact_right , a.read_contact_left  {

	margin:0;

	font-size: .8em;

	position:absolute;

}

a.read_contact_right  {

	float: right;

	right:0px;

}

a.read_contact_left   {

	float: left;

	left:0px;

}

.staff_table th {	
	padding-left: 12px;
	text-align:left;
	color:#666666;
}


.staff_table  { padding-left: 6px;
 }

.staff_table td  { 
	padding-left: 6px;
	text-align:left;
	color:#666666;
	
		
 }
.staff_table div { margin:5px 0px }

#staff_wrapper_table  {  text-align:left;  }

.staff_dept_table  {  
    text-align:left; 
	
}



#staff_master_link  {  text-align:left;  font-size:85%; padding:20px 70px 0px 0px;  }