/* 
    Document   : pr
    Created on : Feb 1, 2012, 11:46:16 AM
    Author     : abotero
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    display:none;
}

.staff_wrapper_table{
    display:none;
}
