@charset "UTF-8";
/* CSS Document */

body{
    font-family: Myriad pro, Arial, Helvetica, sans-serif;
    font-size: 73.1%;
    color: #333;
    margin: 0px;
    padding: 0px;
    line-height:1.9em;
    
}

.main_container{
    background: url(../images/layout/background.png);
    height: 100%;
	width: 100%;
    background-color: #80919E;    
    clear: both;
    float: left;
}

.out {
    float:left;
    width:969px;
}

img {
    border:none;
}

input {
    border:1px solid #e4e4e4;
}

.wrapper {
    background-image:url(../images/sideshadow.jpg);
    background-position:top right;
    background-repeat:no-repeat;
    width:100%;
    float:left;
}
.wrapperinx {
    background-image:url(../images/sideshadowleft.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    float:left;
    width:100%;
}

.maincomponent {
    float:left;
    width:100%;
}
.int {
    width:938px;
}

.top {
    width:100%;
    float:left;    
    background-position:top;
    background-repeat:no-repeat;
    height: 25px;
    background: url(../images/layout/header.png);
}

.logo {
    float:left;
    width:auto;
    margin: 0px 0px 0px 30px;
}

.topmenu {
    float:right;
    width:600px;
    margin:12px 0 0 0;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    height:25px;

}

.search {
    float:right;
    width:310px;
}

.searchint {
    float:right;
    padding:12px 24px;
}

.search input {
    color:#999;
    height: 20px;
    vertical-align:bottom;
}
a:link, a:visited {
    color:#062A7D;
    text-decoration:none;     
}

a:hover {
    color:#8F9295;
}

.topcontent, .bottomcontent {
    
    background-position:bottom;
    background-repeat:repeat-x;
    width:90%;
    padding:0 5% 12px 5%;
    float:left;
}

.topcontent {
    margin-bottom:12px;
}

.bottomcontent {
    margin-top:12px;
}

.topmenu ul {
    float:left;
    width:auto;
}

.topmenu ul, .topmenu ul li {
    padding:0;
    margin: 0;
    list-style:none;
}

.topmenu ul li {
    float:left;
}

.topmenu ul li a:link, .topmenu ul li a:visited {
    color:#333;
    text-decoration:none;
    border-left:1px solid #e4e4e4;
    padding:6px 18px;
}

.topmenu ul li a:hover {
    background-color:#fff;
}



.menu li{
    float:left; 
    display:block;
    padding:4px 20px 4px 20px;
    text-decoration:none;
    font-size: 14px;   
    border-right:1px solid #e4e4e4;
    
    
}

.menu li a{   
    text-decoration:none;
    
}

.menu li a:hover{   
    text-decoration:none;
    color: #8F9295;
    
}

/*
.mainmenu ul, .mainmenu ul li, ul.menu, ul.menu li {
    color:#ccc;
    list-style:none;
    padding:0;
    margin:0;
}

.mainmenu ul li a, ul.menu li a {
    padding:8px 0 8px 8px;
    background-image:url(../images/arrow.png);
    background-position:left;
    background-repeat:no-repeat;
    border-bottom:1px solid #e4e4e4;
    display:block;
    text-decoration:none;
    color:#666;
}*/






.left {
    float:left;
    width:170px;
    padding-left:10px;
}

.center {
    float:left;
    width:65%;
    padding:0 10px;
    margin:0 10px;
    border-right:1px solid #e4e4e4;
    
}

.center1col{
    float:left;
    width:100%;
    
    
}


.centerlogin {
    
    width:100%;
    padding:10px;
    margin:10px;    
    
}


.right {
    float:left;
    width:30%px;
}

.main_content {
    padding-top:24px;
    width:100%;
    min-height:450px;
    margin-right: auto;
    margin-left: auto;    

}


.main_wrapper{
    width:1000px;
    margin-right: auto;
    margin-left: auto;  
    
    position: relative;
    
    
}

.content_wrapper{
    float: left;
    background: #FFFFFF;
    
}


h1 {
    font-size:2.8em;
    padding:22px 0;
    margin:0;
    letter-spacing:2px;
}

.contentheading {
    padding:8px 0;
    margin: 14px 0 14px 0;    
    font-size:2.3em;
    color: #1C3A56;
    width: 95%;
}

h2, .componentheading {
    padding:6px 0;
    margin:0;
    color:#1C3A56;
    font-size:2.2em;
    line-height:1.4em;
    font-weight:lighter;
}

h3 {
    color:#6a5f4b;
    padding:5px 0;
    margin: 4px 0 4px 0;
    font-weight:lighter;
    font-size:1.5em;
}

.headerleft h3, .headerright h3 {
    color:#fff;
}

.header{
    padding-top:10px;
    width:100%;
    float:left;
/*    background-color:#062A7D;*/
    text-align:right;    
}

.header_content{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}


.header_foot{
    width:100%;
    float:left;
    background-color:#062A7D;
    height:8px;
    margin-bottom: 15px;
}

h4, .subcontent h3 {
    padding:3px 0;
    margin:0;
    font-size:1.2em;
    font-weight:bold;
    color:#222;
}

strong {
    color:#222;
}


.footer {
    background: url("../images/footer.png") repeat-x ;
    
    border-top: 1px solid #666666;
    clear: both;    
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

img.image {
    border:1px solid #e4e4e4;
    padding:6px;
    margin:0 10px 0 0;
}

.small, .modifydate {
    font-size:.88em;
    color:#888;
}

blockquote {
    padding:0;
    margin:8px 0;
    color:#999;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:1.2em;
    font-weight:lighter;
}



/*
* Estilos tabla sucursales
*/
.tableMap{
    border: #E4E4E4 1px solid;
}

.tableMap th{
    text-align:left;
    color:#FFFFFF;
    background-color:#062A7D;
    padding: 0 4px 0 4px;
}

.tableMap td{
    text-align:left;
    color:#666666;
    background-color:#FFFFFF;
    padding: 0 4px 0 4px;
}

.article_column{

    width:100%;
}

#oziocssgallery{
    display:none;
}

div.box1 {
    background: #F0F0F0 url(../images/bg_newsitem.png) repeat-x;
    border: 1px solid #EEE;
    border-color: #EEE #EEE #DDD #EEE;
    clear: both;
    color: #333;
    line-height: 1.5;
    padding: 10px;
    
    -moz-border-radius-topright : 6px;
    border-top-right-radius : 6px;
    -moz-border-radius-topleft : 6px;
    border-top-left-radius : 6px;
    -moz-border-radius-bottomright : 6px;
    border-bottom-right-radius : 6px;
    -moz-border-radius-bottomleft : 6px;
    border-bottom-left-radius : 6px;

}


div.box1 .title {
    color: #2A337C;    
    padding: 3px 4px;
}
div.box1 .body {
    
    font-size: 0.9em;
    text-align: justify;
}




div.yellowbox {
    background-color: #FFFFE1;
    border: 1px solid #EEE;
    border-color: #EEE #EEE #DDD #EEE;
    clear: both;
    color: #333;
    line-height: 1.5;
    padding: 10px;
    
    -moz-border-radius-topright : 6px;
    border-top-right-radius : 6px;
    -moz-border-radius-topleft : 6px;
    border-top-left-radius : 6px;
    -moz-border-radius-bottomright : 6px;
    border-bottom-right-radius : 6px;
    -moz-border-radius-bottomleft : 6px;
    border-bottom-left-radius : 6px;
}


div.yellowbox .title {
    color: #2A337C;
    font: bold 1.2em Tahoma,sans-serif;
    padding: 3px 4px;
}
div.yellowbox .body {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-size: 0.9em;
    text-align: justify;
}


table.tableList {
    background-color: #FFFFFF;
    padding: 0px;
    border: 1px solid #CCCCCC;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.tableList th {
    margin: 0px;
    padding: 6px 4px 2px 4px;



    /*
	height: 25px;
	font-size: 10px;
	color: #FFFFFF;
	background: #062A7D;
	*/
    background: transparent url( ../images/layout/panel/white-top-bottom.gif) repeat-x scroll 0 -1px;
    border:1px solid #D0D0D0;
    color:#333333;


}

/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/



table.tableList tr.yellow{
    background-color:#FFFFCC;
}

table.tableList tr.green{
    background-color:#CEFFCE;
}

table.tableList tr.blue{
    background-color:#CEE7FF;
}

table.tableList tr.orange{
    background-color:#FFE4AE;
}


table.tableList tr.purple{
    background-color:#9999CC;
}

table.tableList tr.pink{
    background-color:#FFCCCC;
}

table.tableList tr.rowt {
    background-color: #E6E6E6;
}

table.tableList tr.row0 {
    background-color: #F5F5F5;
}
table.tableList tr.row1 {
    background-color: #FFF;
}

table.tableList tr.row2 {
    background-color: #D2D2D2;
}

table.tableList tr.row0:hover {
    background-color: #f1f1f1;
}
table.tableList tr.row1:hover {
    background-color: #f1f1f1;
}


table.tableList td {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
    color:#333333;
}


table.tableList td.captura {
    text-align:left;
    vertical-align:top;
    background:#1D3F99;
    color:#FFFFFF;
}
table.tableList td.destacar {
    text-align:left;
    background:#FFFFC0;
    color:#1D3F99;
    vertical-align:top;
}
table.tableList td.divisor {
    text-align:center;
    background:#000000;
    color:#FFFFFF;
}
table.tableList td.imprimir {
    text-align:left;
    background:#FFFFFF;
    color:#000000;
}
table.tableList td.invertir {
    text-align:left;
    background:#D2D2D2;
    color:#000000;

}
table.tableList td.listar {
    text-align:left;
    background:#F0F0F0;
    color:#000000;
}
table.tableList td.mostrar {
    text-align: left;
    background: #F0F0F0;
    color: #000000;
}
table.tableList td.partir {
    font-weight:bold;
    text-align:left;
    vertical-align:top;
    background:#1D3F99;
    color:#FFFFFF;
}
table.tableList td.periodo {
    text-align:left;
    background:#CCCCCC;
    color:#000000;
    vertical-align:top;
}
table.tableList td.resaltar {
    text-align:left;
    background:#9999CC;
    color:#000000;
    vertical-align:top;
}
table.tableList td.titulo {
    text-align:center;
    background:#1D3F99;
    color:#FFFFFF;
}
table.tableList td.valores {
    text-align: right;
    vertical-align: top;
    background: #F0F0F0;
    color: #000000;
}
table.tableList th.imprimir {
    text-align:center;
    background:#FFFFFF;
    color:#000000;
}

/** cpanel settings **/

#cpanel div.icon {
    text-align: center;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

#cpanel div.icon a {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 107px;
    width: 108px;
    color: #666;
    vertical-align: middle;
    text-decoration: none;
}

#cpanel div.icon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; font-size:11px; }

table.table1 {
    background-color: #FFFFFF;
    padding: 0px;
    border: 1px solid #CCCCCC;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.table1 th {
    margin: 0px;
    padding: 6px 4px 2px 4px;
    height: 25px;
    background: #062A7D;
    font-size: 11px;
    color: #FFFFFF;
}

/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/

table.table1 tr.yellow{
    background-color:#FFFFCC;
}

table.table1 tr.green{
    background-color:#CEFFCE;
}

table.table1 tr.blue{
    background-color:#CEE7FF;
}

table.table1 tr.orange{
    background-color:#FFE4AE;
}

table.table1 tr.purple{
    background-color:#9999CC;
}

table.table1 tr.pink{
    background-color:#FFCCCC;
}

table.table1 tr.rowt {
    background-color: #E6E6E6;
}

table.table1 tr.row0 {
    background-color: #F5F5F5;
}
table.table1 tr.row1 {
    background-color: #FFF;
}

table.table1 tr.row0:hover {
    background-color: #f1f1f1;
}
table.table1 tr.row1:hover {
    background-color: #f1f1f1;
}


table.table1 td {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
    color:#333333;
}



/*
* Iconos usados en toolbars
*/

.add{
	background-image:url('../images/fam/add.png') !important;
}

.folder{
	background-image:url('../images/fam/folder.png') !important;
}

.delete{
	background-image:url('../images/fam/delete.png') !important;
}

.disk{
	background-image:url('../images/fam/disk.png') !important;
}

.upload-icon {
	background: url('../images/fam/image_add.png') no-repeat 0 0 !important;
}

.refresh {
	background: url('../images/fam/arrow_refresh.png') no-repeat 0 0 !important;
}

.tick {
	background: url('../images/fam/tick.png') no-repeat 0 0 !important;
}

.search {
	background: url('../images/fam/zoom.png') no-repeat 0 0 !important;
}

.import {
	background: url('../images/fam/table_go.png') no-repeat 0 0 !important;
}

.textfield_add {
	background: url('../images/fam/textfield_add.png') no-repeat 0 0 !important;
}

.page_white_edit {
	background: url('../images/fam/page_white_edit.png') no-repeat 0 0 !important;
}

.page_copy {
	background: url('../images/fam/page_copy.png') no-repeat 0 0 !important;
}



.page_white_magnify{
    background: url('../images/fam/page_white_magnify.png') no-repeat 0 0 !important;
}
.page_white_params{
    background: url('../images/fam/basket_put.png') no-repeat 0 0 !important;
}


.page_white_acrobat{
    background: url('../images/fam/page_white_acrobat.png') no-repeat 0 0 !important;
}

.printer{
    background: url('../images/fam/printer.png') no-repeat 0 0 !important;
}

.information {
	background: url('../images/fam/information.png') no-repeat 0 0 !important;
}


.calendar {
	background: url('../images/fam/calendar.png') no-repeat 0 0 !important;
}

.tux {
	background: url('../images/fam/tux.png') no-repeat 0 0 !important;
}

.clock {
	background: url('../images/fam/clock.png') no-repeat 0 0 !important;
}

.shape_align_left {
    background: url('../images/fam/shape_align_left.png') no-repeat 0 0 !important;
}

.arrow_up {
    background: url('../images/fam/arrow_up.png') no-repeat 0 0 !important;
}

.calendar_view_week {
    background: url('../images/fam/calendar_view_week.png') no-repeat 0 0 !important;
}

.preview-right {
	background: url('../images/16x16/preview-right.gif') no-repeat 0 0 !important;
}

.preview-bottom {
	background: url('../images/16x16/preview-bottom.gif') no-repeat 0 0 !important;
}

.preview-hide {
	background: url('../images/16x16/preview-hide.gif') no-repeat 0 0 !important;
}

.new-tab {
    background: url('../images/16x16/new_tab.gif') no-repeat 0 0 !important;
}



/*
* Thumbnails
*/
.file-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.file-view .thumb{
	/*background: #dddddd;*/
	padding: 3px;
}
.file-view .thumb img{
	height: 32px;
	width: 40px;
}

.file-view .userthumb{
	/*background: #dddddd;*/
	padding: 3px;
}
.file-view .userthumb img{
	height: 64px;
	width: 60px;
}
.file-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.file-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.file-view .x-view-selected .thumb{
	background:transparent;
}

.file-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

.file-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}


.file-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}


.c3 {
	width: 100%;
	clear:both;        
}



div.storybox {
    
    
    background: #F0F0F0 url(../images/bg_newsitem.png) repeat-x;
    border: 1px solid #EEE;
    border-color: #EEE #EEE #DDD #EEE;
    clear: both;
    color: #333;
    line-height: 1.5;
    
    width: 100%;
    -moz-border-radius-topright : 6px;
    border-top-right-radius : 6px;
    -moz-border-radius-topleft : 6px;
    border-top-left-radius : 6px;
    -moz-border-radius-bottomright : 6px;
    border-bottom-right-radius : 6px;
    -moz-border-radius-bottomleft : 6px;
    border-bottom-left-radius : 6px;
}


div.storybox .title {
    color: #2A337C;    
    padding: 3px 4px;
    background-color: #062A7D;
    color: #FFFFFF;
    -moz-border-radius-topright : 6px;
    border-top-right-radius : 6px;
    -moz-border-radius-topleft : 6px;
    border-top-left-radius : 6px;
    
}
div.storybox .body {
    
    font-size: 0.9em;
    text-align: justify;
    padding: 10px;
}



.maintitle
 {
	color:#062A7D;	
	
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
}



.form_error
{  
  color: #FF9900; 
  font-size:11px;
}

.error_list
{
  color:#FF0000;
   font-size:11px;
}




/*
* Estilos para la barra de herramientas
*/


.toolbar{
	color: #333333;
	background: #F0F0F0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:0px;
	height: 30px;
	width:95%;
	background-image: url(../images/layout/submenu/submenubg.gif);


}

.toolbarbtnWraper{
  float:left;
  margin-left: 5px;
  padding: 2px ;
}

.toolbarbtnhelp{
    float: right; right: 20px; padding: 2px

}

.toolbar a.toolbarBtn{
	padding-left: 4px;
	padding-right: 4px;

	color: #333333;
	display: block;
	font-size:9px;
	max-width: 150px;
}

.toolbar a.toolbarBtn:hover{
	border: 1px solid #CCCCCC;

}

.submenuleft{
	float:left;
}

.submenuright{
	float:right;
}




.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}