@charset "UTF-8";
/* CSS Document */

body{
	font-family: Myriad pro, Arial, Helvetica, sans-serif;
	font-size: 73.1%;
	color: #333;
	margin: 0px;
	padding: 0px;
	line-height:1.9em;
}

.out {
float:left;
width:969px;
}

img {
border:none;
}

input {
border:1px solid #e4e4e4;
}

.wrapper {
background-image:url(../images/sideshadow.jpg);
background-position:top right;
background-repeat:no-repeat;
width:100%;
float:left;
}
.wrapperinx {
background-image:url(../images/sideshadowleft.jpg);
background-position:top left;
background-repeat:no-repeat;
float:left;
width:100%;
}

.maincomponent {
float:left;
width:100%;
}
.int {
width:938px;
}

.top {
width:100%;
float:left;
background-image:url(../images/topshadow.jpg);
background-position:bottom;
background-repeat:repeat-x;
height: 80px;
}

.logo {
float:left;
width:auto;
margin: 0px 0px 0px 30px;
}

.topmenu {
float:right;
width:600px;
margin:12px 0 0 0;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
height:25px;

}

.search {
float:right;
width:310px;
}

.searchint {
float:right;
padding:12px 24px;
}

.search input {
color:#999;
height: 20px;
vertical-align:bottom;
}
a:link, a:visited {color:#1C3A56;
}

a:hover {
text-decoration:none;
}

.topcontent, .bottomcontent {
background-image:url(../images/topshadow.jpg);
background-position:bottom;
background-repeat:repeat-x;
width:90%;
padding:0 5% 12px 5%;
float:left;
}

.topcontent {
margin-bottom:12px;
}

.bottomcontent {
margin-top:12px;
}

.topmenu ul {
float:left;
width:auto;
}

.topmenu ul, .topmenu ul li {
padding:0;
margin: 0;
list-style:none;
}

.topmenu ul li {
float:left;
}

.topmenu ul li a:link, .topmenu ul li a:visited {
color:#333;
text-decoration:none;
border-left:1px solid #e4e4e4;
padding:6px 18px;
}

.topmenu ul li a:hover {
background-color:#fff;
}

.mainmenu ul, .mainmenu ul li, ul.menu, ul.menu li {
color:#ccc;
list-style:none;
padding:0;
margin:0;
}

.mainmenu ul li a, ul.menu li a {
padding:8px 0 8px 8px;
background-image:url(../images/arrow.png);
background-position:left;
background-repeat:no-repeat;
border-bottom:1px solid #e4e4e4;
display:block;
text-decoration:none;
color:#666;
}
.left {
float:left;
width:170px;
padding-left:10px;
}

.center {
float:left;
width:470px;
padding:0 10px;
margin:0 10px;
border-right:1px solid #e4e4e4;
border-left:1px solid #e4e4e4;
}

.centerleft {
float:left;
width:710px;
padding:0 0 0 10px;
margin:0 0 0 10px;
border-left:1px solid #e4e4e4;
}

.centerright {
float:left;
width:640px;
padding:0 10px 0 10px;
margin:0 10px 0 10px;
border-right:1px solid #e4e4e4;
}

.center100 {
float:left;
width:95%;
padding:0 2.5%;
}

.right {
float:left;
width:220px;
}
.content {
padding-top:24px;
float:left;
width:100%;
}

h1 {
font-size:2.8em;
padding:22px 0;
margin:0;
letter-spacing:2px;
}

.contentheading {
padding:8px 0;
margin: 0 0 14px 0;
border-bottom:1px solid #e4e4e4;
font-size:2.3em;
color: #1C3A56;
}

h2, .componentheading {
padding:6px 0;
margin:0;
color:#1C3A56;
font-size:2.2em;
line-height:1.4em;
font-weight:lighter;
}

h3 {
color:#6a5f4b;
padding:5px 0;
margin: 4px 0 4px 0;
font-weight:lighter;
font-size:1.5em;
}

.headerleft h3, .headerright h3 {
color:#fff;
}

.header{
padding-top:10px;
width:100%;
float:left;
background-color:#2E4B66;
text-align:right;

}

.header_foot{
width:100%;
float:left;
background-color:#2E4B66;
height:12px;
}

h4, .subcontent h3 {
padding:3px 0;
margin:0;
font-size:1.2em;
font-weight:bold;
color:#222;
}

strong {
color:#222;
}

.footer {
border-top:1px solid #e4e4e4;
padding:12px 0;
margin:12px 0;
float:left;
width:100%;
color:#666;
font-size:.88em;
text-align:center;
background-image:url(../images/footershadow.jpg);
background-position:top;
background-repeat:repeat-x;
}

img.image {
border:1px solid #e4e4e4;
padding:6px;
margin:0 10px 0 0;
}

.small, .modifydate {
font-size:.88em;
color:#888;
}

blockquote {
padding:0;
margin:8px 0;
color:#999;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.2em;
font-weight:lighter;
}



/*
* Estilos tabla sucursales
*/
.tableMap{
	border: #E4E4E4 1px solid;
}

.tableMap th{
	text-align:left;
	color:#FFFFFF;
	background-color:#2E4B66;
	padding: 0 4px 0 4px;
}

.tableMap td{
	text-align:left;
	color:#666666;
	background-color:#FFFFFF;
	padding: 0 4px 0 4px;
}

.article_column{

	width:100%;
}

#oziocssgallery{
	display:none;
}

div.box1 {
	background: #F0F0F0 url(../images/bg_newsitem.png) repeat-x;
	border: 1px solid #EEE;
	border-color: #EEE #EEE #DDD #EEE;
	clear: both;
	color: #333;
	line-height: 1.5;
	padding: 10px;
}


div.box1 .title {
	color: #2A337C;
	font: bold 1.2em Tahoma,sans-serif;
	padding: 3px 4px;
}
div.box1 .body {
	font-family: "Trebuchet MS",Tahoma,sans-serif;
	font-size: 0.9em;
	text-align: justify;
}
table.tableList {
	background-color: #FFFFFF;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.tableList th {
	margin: 0px;
	padding: 6px 4px 2px 4px;



	/*
	height: 25px;
	font-size: 10px;
	color: #FFFFFF;
	background: #2E4B66;
	*/
	background: transparent url( ../images/layout/panel/white-top-bottom.gif) repeat-x scroll 0 -1px;
	border:1px solid #D0D0D0;
	color:#333333;


}

/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/



table.tableList tr.yellow{
	background-color:#FFFFCC;
}

table.tableList tr.green{
	background-color:#CEFFCE;
}

table.tableList tr.blue{
	background-color:#CEE7FF;
}

table.tableList tr.orange{
	background-color:#FFE4AE;
}


table.tableList tr.purple{
	background-color:#9999CC;
}

table.tableList tr.pink{
	background-color:#FFCCCC;
}

table.tableList tr.rowt {
	background-color: #E6E6E6;
}

table.tableList tr.row0 {
	background-color: #F5F5F5;
}
table.tableList tr.row1 {
	background-color: #FFF;
}

table.tableList tr.row2 {
	background-color: #D2D2D2;
}

table.tableList tr.row0:hover {
	background-color: #f1f1f1;
}
table.tableList tr.row1:hover {
	background-color: #f1f1f1;
}


table.tableList td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
	color:#333333;
}


table.tableList td.captura {
   text-align:left;
   vertical-align:top;
   background:#1D3F99;
   color:#FFFFFF;
}
table.tableList td.destacar {
   text-align:left;
   background:#FFFFC0;
   color:#1D3F99;
   vertical-align:top;
}
table.tableList td.divisor {
   text-align:center;
   background:#000000;
   color:#FFFFFF;
}
table.tableList td.imprimir {
   text-align:left;
   background:#FFFFFF;
   color:#000000;
}
table.tableList td.invertir {
   text-align:left;
   background:#D2D2D2;
   color:#000000;

}
table.tableList td.listar {
   text-align:left;
   background:#F0F0F0;
   color:#000000;
}
table.tableList td.mostrar {
   text-align: left;
   background: #F0F0F0;
   color: #000000;
}
table.tableList td.partir {
   font-weight:bold;
   text-align:left;
   vertical-align:top;
   background:#1D3F99;
   color:#FFFFFF;
}
table.tableList td.periodo {
   text-align:left;
   background:#CCCCCC;
   color:#000000;
   vertical-align:top;
}
table.tableList td.resaltar {
   text-align:left;
   background:#9999CC;
   color:#000000;
   vertical-align:top;
}
table.tableList td.titulo {
   text-align:center;
   background:#1D3F99;
   color:#FFFFFF;
}
table.tableList td.valores {
   text-align: right;
   vertical-align: top;
   background: #F0F0F0;
   color: #000000;
}
table.tableList th.imprimir {
   text-align:center;
   background:#FFFFFF;
   color:#000000;
}

/** cpanel settings **/

#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 107px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

#cpanel div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; font-size:11px; }

table.table1 {
	background-color: #FFFFFF;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.table1 th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background: #2E4B66;
	font-size: 11px;
	color: #FFFFFF;
}

/*
* Colores que puede tomar una fila de acuerdo al status en que se encuentre
*/

table.table1 tr.yellow{
	background-color:#FFFFCC;
}

table.table1 tr.green{
	background-color:#CEFFCE;
}

table.table1 tr.blue{
	background-color:#CEE7FF;
}

table.table1 tr.orange{
	background-color:#FFE4AE;
}

table.table1 tr.purple{
	background-color:#9999CC;
}

table.table1 tr.pink{
	background-color:#FFCCCC;
}

table.table1 tr.rowt {
	background-color: #E6E6E6;
}

table.table1 tr.row0 {
	background-color: #F5F5F5;
}
table.table1 tr.row1 {
	background-color: #FFF;
}

table.table1 tr.row0:hover {
	background-color: #f1f1f1;
}
table.table1 tr.row1:hover {
	background-color: #f1f1f1;
}


table.table1 td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
	color:#333333;
}