Usuario:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usuarios
  attributes:
    export: tables
  columns:
    ca_login:
      type: string(15)
      primary: true
    ca_nombre: string(250)
    ca_cargo: string(40)
    ca_departamento: string(50) 
    ca_email: string(50) 
    ca_extension: string(50)
    ca_idsucursal: string(3)
    ca_authmethod: string(5)
    ca_passwd: string(40)
    ca_salt: string(40)
    ca_activo: boolean
    ca_forcechange: boolean    
    ca_cumpleanos: date
    ca_fchingreso: date
    ca_manager: string(15)
    ca_nombres: string(30)
    ca_apellidos: string(30)
    ca_teloficina: string(30)
    ca_telparticular: string(30)
    ca_telfamiliar: string(30)
    ca_nombrefamiliar: string (250)
    ca_movil: string(30)
    ca_direccion: string(80)
    ca_tiposangre: string(15)
    ca_parentesco: string(10)
    ca_fchcreado: timestamp
    ca_usucreado: string
    ca_fchactualizado: timestamp
    ca_usuactualizado: string
    ca_docidentidad: integer
    ca_nivestudios: string(20)
    ca_estrato: smallint    
    ca_donante: boolean
    ca_enfermedad: string(50)
    ca_alergico: string(50)
    ca_cargoweb: string   
    ca_profesion: string
    ca_experiencia: string
    ca_hoja_vida: string
    ca_propiedades: string
    ca_fchvencimiento: date
    ca_keypass: string(40)
    ca_mailpasw: string(40)    
    ca_sexo: string(1)
    ca_fcesantias: integer
  relations:
    AccesoUsuario:
      local: ca_login
      foreign: ca_login
      type: many      
    UsuarioPerfil:
      local: ca_login
      foreign: ca_login
      type: many
    Sucursal:
      local: ca_idsucursal
      foreign: ca_idsucursal
      type: one
    Cotizacion:
      local: ca_login
      foreign: ca_usuario
      type: many
    Departamento:
      local: ca_departamento
      foreign: ca_nombre
      type: one
    NotTareaAsignacion:
      local: ca_login
      foreign: ca_login
      type: many
    Manager:
      local: ca_manager
      foreign: ca_login
      type: one
      class: Usuario
    Subordinado:
      local: ca_login
      foreign: ca_manager
      type: many
      class: Usuario
    Cargo:
      local: ca_cargo
      foreign: ca_cargo
      type: one
    UsuBrigadas:
      local: ca_login
      foreign: ca_login
      type: one

UsuBrigadas:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usu_brigadas
  columns:    
    ca_login:
      type: string      
      primary: true
    ca_donante: boolean
    ca_enfermedad: string
    ca_alergico: string    
    ca_comites: string
    ca_zona: integer
    ca_propiedades: string,
    ca_ecivil: integer,
    ca_fchcreado: timestamp
    ca_usucreado: string
    ca_fchactualizado: timestamp
    ca_usuactualizado: string    
  relations:
    Usuario:
      local: ca_login
      foreign: ca_login
      type: one
    Usucreado:
      local: ca_usucreado
      foreign: ca_login
      type: one
      class: Usuario
    Usuactualizado:
      local: ca_usuactualizado
      foreign: ca_login
      type: one
      class: Usuario


UsuParametros:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usu_parametros
  columns:    
    ca_idusuparametros:
      type: integer
      autoincrement: true
      primary: true
    ca_idusuario: string
    ca_impoexpo: string
    ca_transporte: string    
    ca_modalidad: string
    ca_trafico: string
    ca_idcliente: integer,
    ca_fchcreado: timestamp
    ca_usucreado: string
    ca_fchactualizado: timestamp
    ca_usuactualizado: string    
  relations:
    Usuario:
      local: ca_idusuario
      foreign: ca_login
      type: one
    Trafico:
      local: ca_trafico
      foreign: ca_idtrafico
      type: one      
    UsuActualizado:
      local: ca_usuactualizado
      foreign: ca_login
      type: one
    UsuCreado:
      local: ca_usucreado
      foreign: ca_login
      type: one
    Cliente:
      local: ca_idcliente
      foreign: ca_idcliente
      type: one
    Trafico:
      local: ca_idtrafico
      foreign: ca_idtrafico
      type: one

      
AccesoPerfil:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_accesos_perfiles
  columns:
    ca_rutina:
      type: integer(4)
      primary: true
    ca_perfil:
      type: string(255)
      primary: true
    ca_acceso:
      type: integer(4)
  relations:
    Perfil:
      local: ca_perfil
      foreign: ca_perfil
      type: one
    Rutina:
      local: ca_rutina
      foreign: ca_rutina
      type: many
      
Perfil:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_perfiles
  columns:
    ca_perfil:
      type: string(50)
      primary: true
    ca_nombre:
      type: string(50)
    ca_departamento:
      type: string(30)
    ca_descripcion:
      type: string(255)
    ca_aplicacion: string
  relations:
    AccesoPerfil:
      local: ca_perfil
      foreign: ca_perfil
      type: many

UsuarioPerfil:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usuarios_perfil
  columns:
    ca_login:
      type: string(50)
      primary: true
    ca_perfil:
      type: string(50)
      primary: true     
  relations:
    Perfil:
      local: ca_perfil
      foreign: ca_perfil
      type: one
    Usuario:
      local: ca_login
      foreign: ca_login
      type: one


AccesoPerfil:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_accesos_perfiles
  columns:
    ca_rutina:
      type: string(50)
      primary: true
    ca_perfil:
      type: string(50)
      primary: true
    ca_acceso:
      type: string(30)
  relations:
    Rutina:
      local: ca_rutina
      foreign: ca_rutina
      type: one
    Perfil:
      local: ca_perfil
      foreign: ca_perfil
      type: one
      foreignAlias: Perfiles
    UsuarioPerfil:
      local: ca_perfil
      foreign: ca_perfil
      type: many

AccesoUsuario:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_accesos_user
  columns:
    ca_rutina:
      type: string(50)
      primary: true
    ca_login:
      type: string(50)
      primary: true
    ca_acceso:
      type: string(30)
  relations:
    Rutina:
      local: ca_rutina
      foreign: ca_rutina
      type: one
    Usuario:
      local: ca_login
      foreign: ca_login
      type: one

Rutina:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_rutinas
  columns:
    ca_rutina:
      type: string(50)
      primary: true
      autoincrement: true
    ca_opcion: string(30)
    ca_descripcion: string(250)
    ca_programa: string(100)
    ca_grupo: string(21)
    ca_icon: string
    ca_aplicacion: string
  relations:
    AccesoPerfil:
      local: ca_rutina
      foreign: ca_rutina
      type: many
    AccesoUsuario:
      local: ca_rutina
      foreign: ca_rutina
      type: many
    RutinaNivel:
      local: ca_rutina
      foreign: ca_rutina
      type: many

Departamento:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_departamentos
  columns:
    ca_iddepartamento:
      type: integer
      primary: true
      autoincrement: true
    ca_nombre: string(30)
    ca_inhelpdesk: boolean
    ca_idempresa: string
  relations:
    HdeskGroup:
      local: ca_iddepartamento
      foreign: ca_iddepartament
      orderBy: ca_name ASC
      type: many
    Empresa:
      local: ca_idempresa
      foreign: ca_idempresa
      type: one

Cargo:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_cargos
  columns:
    ca_cargo:
      type: string(50)
      primary: true
    ca_activo: boolean
    ca_manager: boolean
    ca_idempresa: string(3)
  relations:
    Empresa:
      local: ca_idempresa
      foreign: ca_idempresa
      type: one

Empresa:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_empresas
  columns:
    ca_idempresa:
      type: string(3)
      primary: true
    ca_nombre: string(15)
    ca_activo: boolean
    ca_idtrafico : string
    ca_url : string
    ca_id : integer
    ca_pathsiigo: string
    ca_logo: string
    ca_tracking: string
    ca_coddian: smallint
  relations:
    Trafico:
      local: ca_idtrafico
      foreign: ca_idtrafico
      type: one
    Ids:
      local: ca_id
      foreign: ca_id
      type: one

Sucursal:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_sucursales
  columns:
    ca_idsucursal:
      type: string(3)
      primary: true
      autoincrement: true
    ca_nombre: string(50)
    ca_telefono: string
    ca_fax: string
    ca_direccion: string
    ca_idempresa: string
    ca_entrada: date
    ca_salida: date
    ca_email: string
    ca_plantilla: string
    ca_codpostal: string
    ca_iso: string
    ca_basc: string
    ca_iata: string
  relations:
    Empresa:
      local: ca_idempresa
      foreign: ca_idempresa
      type: one
      
#Hijos:
#  options:
#    symfony:
#      form: false
#      filter: false
#  generatePath: control
#  tableName: control.tb_hijos
#  columns:
#    ca_login:
#      type: string(15)
#      primary: true
#    ca_nombres: string(250)
#    ca_fchnacimiento: date*/

RutinaNivel:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_rutinas_niveles
  columns:
    ca_rutina:
      type: integer
      primary: true
    ca_nivel:
      type: integer
      primary: true
    ca_valor: string
  relations:
    Rutina:
      local: ca_rutina
      foreign: ca_rutina
      type: one


UsuarioLog:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usuarios_log
  columns:
    ca_id:
      type: integer
      primary: true
      autoincrement: true
    ca_login: string
    ca_fchevento: timestamp
    ca_url: string
    ca_event: string
    ca_ipaddress: string
    ca_useragent: string
  relations:
    Usuario:
      local: ca_login
      foreign: ca_login
      type: one


Session:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_sessions
  columns:
    sess_id:
      type: string
      primary: true      
    sess_data: string
    sess_time: integer
    max_inactive: integer
    ip_address: string




ColsysConfig:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_config
  columns:
    ca_idconfig:
      type: string
      primary: true   
      autoincrement: true
    ca_module: string
    ca_param: string
    ca_description: string
  

ColsysConfigValue:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_config_values
  columns:
    ca_idvalue:
      type: string
      primary: true   
      autoincrement: true
    ca_idconfig: integer
    ca_ident: string
    ca_value: string
    ca_value2: string
  relations:
    ColsysConfig:
      local: ca_idconfig
      foreign: ca_idconfig
      type: one
    ResultadoEncuesta:
      local: ca_ident
      foreign: ca_servicio

UsuarioClave:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_usuarios_claves
  columns:
    ca_login:
      type: string(50)
      primary: true
    ca_clave:
      type: string(50)
      primary: true   
    ca_fchcreado: 
      type: timestamp
      primary: true
    ca_usucreado: 
      type: string
      primary: true
  relations:
    Usuario:
      local: ca_login
      foreign: ca_login
      type: one
      
Directorio:
  options:
    symfony:
      form: false
      filter: false
  generatePath: control
  tableName: control.tb_directorio
  columns:
    ca_id:
      type: smallint
      primary: true   
      autoincrement: true
    ca_callfrom: integer
    ca_callto: string
    ca_phoneip: string
  relations:
    SucursalFrom:
      local: ca_callfrom
      foreign: ca_idsucursal
      type: one
      class: Sucursal
    SucursalTo:
      local: ca_callto
      foreign: ca_idsucursal
      type: one
      class: Sucursal
        
