
TrackingUser:
  options:
    symfony:
      form: false
      filter: false
  generatePath: tracking
  tableName: tb_tracking_users
  attributes:
    export: tables
  columns:
    ca_email:
      type: string
      primary: true
    ca_blocked: boolean
    ca_activation_code: string
    ca_passwd: string
    ca_password_expiry: date
    ca_activated: boolean
    ca_idcontacto: integer
  relations:
    Contacto:
      local: ca_idcontacto
      foreign: ca_idcontacto
      type: one

TrackingUserLog:
  options:
    symfony:
      form: false
      filter: false
  generatePath: tracking
  tableName: tb_tracking_users_log
  attributes:
    export: tables
  columns:
    ca_id:
      type: string
      primary: true
      autoincrement: true
    ca_email: string
    ca_fchevento: timestamp
    ca_url: string
    ca_evento: string
    ca_ipaddress: string
    ca_useragent: string
  relations:
    TrackingUser:
      local: ca_email
      foreign: ca_email
      type: one
